
sent/project1/main.ipynb
sent.rar
sent/project1/Simulation-Proj-1-Winter-1400.pdf
sent/project2/Phase1/p1-Barabasi.ipynb
sent/project2/Phase1/p1-Erdos.ipynb
sent/project2/Phase1/p1-Watts.ipynb
sent/project2/Phase2/p2-Barbasi-active.ipynb
sent/project2/Phase2/p2-Barbasi-deactive.ipynb
sent/project2/Phase2/p2-Erdos-active.ipynb
sent/project2/Phase2/p2-Erdos-deactive.ipynb
sent/project2/Phase2/p2-Watts-active.ipynb
sent/project2/Phase2/p2-Watts-deactive.ipynb
sent/project2/Projcet-2.pdf
